- content_for :title do
  About
.row.white-row
  .col-md-12
    %h3 關於此系統
    .col-md-offset-1
      %p 計畫者Tom83615於2013.12.18發起此計畫，使用CI + Bootstrap進行開發
      %p 但因學生會過多事項同時進行，無暇顧及此專案，導致專案凍結
      %p 開發者OtomeSound於2014.04.04翻查原專案時，發現原專案缺乏完善之架構規劃
      %p 決定在當天使用Ruby on Rails重刻此專案
      %p 在2014.04.18送交至部會審查時，已獲得當時部長PastLeo以及財務部部長Ho-Yi Chen同意通過
      %p 本系統將於整合伊爾特系統後直接上架

  .col-md-12
    %h4 會產系統電子化計畫
    .col-md-offset-1
      %p 系統計畫者：Tom83615
      %p 系統開發者：OtomeSound
      %p 財務部部長：Ho-Yi Chen
      %p 目前管理員：<未定>

  .col-md-12
    %h4 開發日誌
    .col-md-offset-1
      %p 目前沒有資料
