
.row.white-row
  .col-md-12
    %h3 歡迎來到 興大會產管理系統
  .col-md-12
    %p 如果你是第一次來到這裡，請先查閱使用說明(上方有導引連結)
    %br
    %p 本系統目前只對管理員進行伊爾特驗證，借用者請善用借閱清單頁面 → 管理借閱來管理你在這系統的借閱
    %br
    %p 本系統只處理預約借用，如果預約審核成功者，請於借閱當天到學生會會辦辦理後續之借用手續，並取得你要借用物品
  .col-md-12
    %h4.pull-right Tom83615, OtomeSound, Ho-Yi Chen 向各位使用者致上最高敬意
