.col-sm-12.alert.alert-info
  %p 本頁面為物品管理頁面，請注意本業沒有確認機制，使用時請三思

- itemStatus = ["未開放借用","可以借用","已被借用"]
- statusClass = ["btn-warning", "btn-success", "btn-danger"]

%table.table.table-hover.white-row
  %tr
    %th 物品名稱
    %th 目前借用狀態
    %th 管理物品
  - @itemData.each do |anItem| 
    %tr
      %td
        = link_to anItem.ItemName, :action => "show_item", :id => anItem.id
      %td
        = link_to button_tag(itemStatus[anItem.ItemStatus], :class => ["btn", statusClass[anItem.ItemStatus], anItem.ItemStatus == 1? "":"disabled" ]), lend_path+"/new/"+anItem.id.to_s
      %td
        .btn-group
          = link_to button_tag("編輯", :class => "btn btn-success edit-btn"), :action => "modify_item", :id => anItem.id
          = link_to button_tag("刪除", :class => "btn btn-danger del-btn"), :action => "delete_item", :id => anItem.id
