- content_for :title do
  About
%h3 關於此系統
%div{ :class => "col-md-12"}
  %p 此系統是OtomeSound因為在前端闖蕩過久，對於CI組成之後端有些陌生
  %br
  %p 在審慎思考之下，決定使用Ruby on Rails進行練習開發
  %br
  %p 如果此系統成功開始使用，OtomeSound相當感謝用戶之厚愛，並會教導後來人如何維護此系統

%h4{ :class => "pull-right" } 系統開發者：OtomeSound
