// import the CSS framework
@import "bootstrap";
// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
html {
  height:100%;
  }
body {
  height:100%;
  background-position: center top;
  background-repeat: repeat-x;
  background-color: #EDF4F8;
  background-image: url("http://res.nchusg.org/img/bs_bg.jpg");
  }
main {
  @extend .container;
  background-color: none;
  padding-bottom: 80px;
  margin-top: 51px; // accommodate the navbar
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  }
header {
  margin-top:50px;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
footer{
  height: 60px;
  color:white;
  background-color:rgba(20,20,20,.99);
  }
