<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Contact', new_contact_path %></li>
<li><%= link_to 'Items', item_path+'/view' %></li>
<li><%= link_to 'Lends', lend_path+'/view' %></li>
